<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739461998978-6rkkoalvuuqqfgec60a9lrukjv7ohie1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739461998978-6rkkoalvuuqqfgec60a9lrukjv7ohie1</string>
	<key>API_KEY</key>
	<string>AIzaSyAOZfxtf0VPjUZHsjJGXtK82dFnKI2veTk</string>
	<key>GCM_SENDER_ID</key>
	<string>739461998978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.temeldenzirveyeflutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-temeldenzirveye</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-temeldenzirveye.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739461998978:ios:65a2fef875e496bfeb079b</string>
</dict>
</plist>